@font-face {
    font-family: "DroidSans-Bold";
    src: url(./fonts/DroidSans-Bold.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "DroidSans-Regular";
    src: url(./fonts/DroidSerif/DroidSerif.ttf) format("truetype");
    font-weight: 400;
}


header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header .container {
    display: flex;
    padding: 15px;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu-item {
    padding: 5px 10px;
}

.menu-item a {
    color: #FFF;
    font-size: 22px;
}

.menu-item a:link, .menu-item a:visited {
    color:#FFF;
}

.video {
    height: auto;
    background-color: antiquewhite;
}

video {
    width: 100%;
    height: auto;
}

.sixteen-nine {
    position: relative;
}

.sixteen-nine:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
}

.sixteen-nine > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.greeting {
    position: absolute;
    z-index: 1;
    width: 65%;
    left: 17%;
    top: 30%;
}
.greeting h2 {
    font-family: "DroidSans-Bold";
    font-size: 80px;
    text-align: center;
    color: #FFF;
}

.icon-wraper {
    position: absolute;
    z-index: 1;
    width: 50%;
    top: 71%;
    left: 48%;
}

.icon-check-circle {
    overflow: hidden;
    position: relative;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    color: #33cc66;
    font-size: 50px;
}

.icon-wraper:after, .icon-wraper:before {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #FFF;
}

.icon-wraper:after {
    left: 10px;
    margin-right: -50%;
    margin-bottom: 5%;
}

.icon-wraper:before {
    left: -10px;
    margin-left: -50%;
    margin-bottom: 5%;
}

#about {
    background-color: #34495E;
}

#about h3, #team h3 {
    padding: 8% 0 4%;
    font-family: "DroidSans-Bold";
    font-size: 45px;
    text-align: center;
    color: #FFF;

}

#about p {
    padding: 0 25%;
    font-family: "DroidSans-Regular";
    font-size: 24PX;
    color: #FFF;
}

#about ul {
    display: flex;
    padding: 5% 10%;
}

#about ul li i {
    margin: 0 33%;
    padding: 17px 17px 0 17px;
    font-size: 75px;
    border: 3px solid #FFF;
    border-radius: 50%;
    color: #FFF;
}

#about ul li .service-title {
    padding-top: 5%;
    font-family: "DroidSans-Bold";
    font-size: 26px;
    text-align: center;
}

#about ul li .about-service {
    padding: 5% 20% 1%;
    font-family: "DroidSans-Regular";
    font-size: 20px;
    text-align: center;
}


#portfolio h3, #contact .contact-title h3 {
    padding: 8% 0 4%;
    font-family: "DroidSans-Bold";
    font-size: 45px;
    text-align: center;
    color: #2C3E50;
}

#portfolio .nav-products ul {
    display: flex;
    padding: 0 20% 5%;
    justify-content: space-between;

}

#portfolio .nav-products ul li {
    width: 20%;
    padding: 5px 10px;
    font-family: "DroidSans-Regular";
    font-size: 30px;
    text-align: center;
    border-radius: 25px;
}

#portfolio .nav-products ul li:hover {
    background-color: #75CF9B;
    color: #FFF;
}

#portfolio .nav-products ul li:active {
    background-color: #2ECC71;
    color: #FFF;
}

#portfolio .gallery-products {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 33% 33% 33% ;
    grid-template-rows: 50% 50%;
    margin: 0 22% 3%;
    padding: 30px 0;
    overflow: hidden;
}

#portfolio .gallery-products .img-wraper {
    float: left; 
    margin-bottom: 10px;
}

#portfolio .gallery-products .img-wraper img {
    width: 250px;
    height: 250px; 
    object-fit: cover;
}

#portfolio .gallery-products .img-wraper img:hover {
    background-color: rgba(0, 0, 0, 0.6);;
}

#team {
    padding-bottom: 5%;
    background-color: #2980B9;
}

#team .our-team {
    display: flex;
    margin: 0 20%;
}

#team .our-team .employee .employee-name {
    padding: 7% 0;
    font-family: "DroidSans-Bold";
    font-size: 26px;
    text-align: center;
}

#team .our-team .employee p {
    width: 70%;
    margin: 0 auto;
    font-family: "DroidSans-Regular";
    font-size: 20px;
    text-align: center;
    line-height: 1.4;
    color: #FFF;
}

#team .our-team .employee img {
    display: block;
    margin: 0 auto;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 3px solid #FFF; 
    object-fit: cover;
}

#team .our-team .employee .social {
   display: flex;
   justify-content: center;
   margin: 5% 0;
}

#team .our-team .employee .social i {
    padding: 3% 3% 0;
    font-size: 40px;
    text-align: center;
    border: 2px solid #FFF;
    border-radius: 50%;
    color: #FFF;
}

#team .our-team .employee .social i.icon-twitter + .icon-instagram {
    margin-left: 5%;
}

#contact  {
    display: grid;
    grid-template-areas: 
    "title title"
    "form address";
    grid-template-rows: auto auto ;
    grid-template-columns: 70% 30%;
    margin: 0 20% 5%;
    background-color: #FFF;
}

#contact .contact-title {
    grid-area: title;
    padding-bottom: 10%;
}

#contact form {
    grid-area: form;
    padding-left: 23%;
}

#contact form input {
    width: 70%;
    padding: 2%;
    font-family: "DroidSans-Regular";
    font-size: 26px;
    border: none;
    border-bottom: 2px solid #2ecc71;
}

#contact form input#name + #email {
    margin-top: 5%;
}

#contact form textarea {
    width: 70%;
    margin-top: 5%;
    padding: 2%;
    font-family: "DroidSans-Regular";
    font-size: 26px;
    border: none;
    border-bottom: 2px solid #2ECC71;
}

#contact form #btnSubmit {
    width: 30%;
    margin: 8% 0;
    font-family: "DroidSans-Regular";
    font-size: 21px;
    border-radius: 15px;
    background-color: #2ECC71;
    color: #FFF;

}

#contact address {
    grid-area: address;
    font-size: 20px;
}

#contact address p {
    font-family: "DroidSans-Bold";
    font-size: 16px;
}

#contact address p + p {
    margin-top: 15%;
}

#contact .contact-title p {
    font-family: "DroidSans-Bold";
    font-size: 26px;
    text-align: center;
    color: #2C3E50;
}

footer {
    display: grid;
    grid-template-areas: 
    "logo logo"
    "address social";
    grid-template-rows: auto auto ;
    grid-template-columns: 60% 40%;
    padding: 6% 13%;
    background-color: #2C3E50;
}

footer .address {
    grid-area: address;
    display: flex;
    justify-content: space-between;
    margin: 5% 15% 3% 0;
    font-family: "DroidSans-Bold";
    font-size: 16px;
    color: #FFF;
}

footer .address p {
    width: 35%;
}

footer .social-footer {
    grid-area: social;
    display: flex;
    justify-content: end;
    margin: 5% 0;
}

footer .social-footer i {
    padding: 3% 3% 0;
    font-size: 40px;
    text-align: center;
    border: 2px solid #FFF;
    border-radius: 50%;
    color: #FFF;
}

footer .social-footer i + i {
    margin-left: 5%;

}

